/* 元素选择器 */

h1 {
    color: coral;
}


/*=============================================
=            id选择器样式            =
=============================================*/

#red {
    color: red;
}

#green {
    color: green;
}

#sidebar p {
    color: pink;
}


/*=====  End of id选择器样式  ======*/


/* ----id selector end---*/

.center {
    text-align: center;
    color: blueviolet
}


/*类选择器  end*/


/**
 *
 * 属性选择器
 *
 */

a[target] {
    background-color: yellow;
}


/*属性选择器  end*/